PORT=3000
JWT_SECRET=dev_secret_largo_y_unico
GATEWAY_SECRET=dev_gateway_secret_compartido
FRONTEND_URL=http://localhost:5173
MS_USUARIOS_URL=http://localhost:3001
MS_PRODUCTOS_URL=http://localhost:3002
MS_CLIENTES_URL=http://localhost:3003
MS_PEDIDOS_URL=http://localhost:3004
NODE_ENV=development
